rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedInOrPublic() {
      return request.auth.uid != null || resource.data.visibility == 'public';
    }

    function isOwner() {
      return request.auth.uid == resource.data.userId;
    }

    match /{document=**} {
      allow read, write: if signedInOrPublic();
    }

    match /equipments {
      allow read, write: if signedInOrPublic();

      match /{equipment} {
        allow read: if isOwner();
        allow write: if signedInOrPublic();
      }
    }

    match /roles {
      allow read: if true
      allow write: if false
    }

    match /permissions {
      allow read: if true
      allow write: if false
    }

    match /users {
      allow read, write: if signedInOrPublic();

      match /{user} {
        allow read: if isOwner();
        allow write: if signedInOrPublic();
      }
    }
  }
}
